#pages-home {
  height: 100vh;
  background: url("../assets/home-background.svg") no-repeat;
  background-position: 35vw bottom;
}
#pages-home .content {
  width: 90%;
  max-width: 1100px;
  display: flex;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
}
#pages-home header {
  display: flex;
  align-items: center;
  margin-top: 48px;
  justify-content: space-between;
}
#pages-home header a {
  display: flex;
  color: var(--tittle-color);
  font-weight: 700;
}
#pages-home header a span {
  display: flex;
  margin-right: 16px;
  background-image: url("../assets/log-in.svg");
  width: 20px;
  height: 20px;
}

#pages-home main {
  max-width: 560px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pages-home main h1 {
  font-size: 54px;
}
#pages-home main p {
  font-size: 20px;
  line-height: 38px;
  margin-top: 20px;
}
#pages-home main a {
  width: 100%;
  height: 72px;
  border-radius: 8px;
  display: flex;
  margin-top: 40px;
  align-items: center;
  max-width: 360px;
  background-color: var(--primary-color);
  transition: 400ms;
}
#pages-home main a strong {
  color: white;
  flex: 1;
  text-align: center;
}
#pages-home main a:hover {
  background-color: #2fb86e;
}
#pages-home main a span {
  width: 72px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}
#pages-home main a span::after {
  content: "";
  background-image: url(../assets/search.svg);
  width: 20px;
  height: 20px;
}
